*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  width: 100vw;
  height: 100vh;

  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  color: #eee;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;

  background: #eee
    url(https://images.hdqwalls.com/download/future-buildings-minimal-ve-2560x1440.jpg)
    no-repeat;
  background-size: cover;

  font-weight: bold;

  font-variant: small-caps;

  overflow: hidden;
}

@media screen and (max-width: 700px) {
  body {
    background-size: auto;
  }
}

.global-p {
  margin: 0;
}

.global-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.global-button {
  border: none;
  padding: 0;

  cursor: pointer;

  background: none;

  color: currentColor;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-variant: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}
