.game {
  display: flex;
  justify-content: center;
  gap: 50px;
}

@media screen and (max-width: 700px) {
  .game {
    flex-direction: column;
  }
}

canvas {
  border: 1px solid rgba(0, 0, 0, 0.4);

  margin-top: 10px;
  margin-bottom: 10px;

  background: transparent;
}

@media screen and (max-width: 700px) {
  canvas {
    margin: 0;
    margin-top: 20px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

@media screen and (max-width: 700px) {
  .list {
    align-items: center;
    flex-direction: row;
  }
}

.list button {
  position: reletive;

  background: rgb(10, 100, 200);
  color: #eee;
  padding: 20px;
  width: 100%;

  text-transform: capitalize;

  transition: background-color 0.2s;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 25% 100%, 0 74%);
}

.list button:hover {
  background-color: rgb(10, 100, 180);
}

.list button:disabled {
  background: rgba(10, 100, 200, 0.6);
  cursor: auto;
}

.list input {
  border: none;

  width: 100px;
  height: 100%;
  padding: 15px;

  background: rgba(10, 100, 200, 0.5);
  outline-color: transparent;
  color: #eee;

  font-size: 20px;

  clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 25% 100%, 0 74%);
}

.list input:focus {
  outline-color: rgba(10, 100, 200, 1);
}

.gen-info {
  font-size: 20px;
}
